/* SIDENAV */
.sideNavOpen {
  position: absolute;
  background-color: whitesmoke;
  height: 100%;
  overflow: hidden;
  transition-duration: 300ms;
  left: 50px;
  width: 25%;
  border-right: solid 1px grey;
  /* box-shadow: 4px 16px 20px rgba(151, 149, 149, 0.25); */
}
.sideNavClosed {
  position: absolute;
  background-color: whitesmoke;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition-duration: 300ms;
  width: 0%;
}
.sideNavHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}
.sideNavList {
  overflow: scroll;
  height: 100%;
  border-radius: 0px;
}
.sideNavListItem {
  background-color: #fff;
  color: rgb(56, 56, 56);
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0px 1px 0px;
}
.sideNavListItem:hover {
  background: var(--primary-color);
  color: var(--white);
  transition-duration: 150ms;
  z-index: 10;
  border-top: none;
}

@media only screen and (max-width: 650px) {
  .sideNavOpen {
    position: absolute;
    right: 0;
    width: 85%;
  }
  .sideNavClosed {
    position: absolute;
    right: 0;
    width: 0%;
  }
}
