.lessonContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid red; */
}
.lessonSection {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;

  /* border: 1px solid red; */
}
